.section-1 {
  .section-1__img {
    img {
      object-fit: cover;
      width: 100vw;
      height: 75vh;
    }
  }
  .section-1__text {
    padding: 1.9rem;
    margin: 12.5rem 0;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 2.1vw;
    }
    p {
      width: 62%;
      font-size: 3.5vw;
    }
  }
  .section-1__img__box {
    padding: 1.9rem;
    position: relative;
    margin-bottom: 15rem;
    .img-1-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 50%;
      gap: 5px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .img-2-box {
      position: absolute;
      top: 0;
      right: 1.9rem;
      width: 20%;
      height: 20%;
      img {
        width: 100%;
      }
    }
    footer {
      position: absolute;
      font-size: 1.65vw;
      right: 1.25rem;
      bottom: 4rem;
      width: 30%;
    }
  }
}
.section-2 {
  padding: 1.9rem;
  padding-top: 9.4rem;
  padding-bottom: 17rem;
  background-color: #444;
  height: 100%;
  .section-2__text {
    h1 {
      text-align: center;
      font-size: 10vw;
    }
  }
  .section2__img {
    position: relative;
    z-index: 2px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    .section2__imgbox1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 65%;
      gap: 5px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .flex-box-1 {
      display: flex;
      justify-content: flex-end;
      .section2__imgbox2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 65%;
        gap: 5px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .section2__imgbox3 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 65%;
      gap: 5px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .flex-box-2 {
      display: flex;
      justify-content: flex-end;
      .section2__imgbox4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 65%;
        gap: 5px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .section2__imgbox5 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 65%;
      gap: 5px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.section-3 {
  height: 100%;
  .section-3-imgbox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    img {
      width: 100vh;
      height: 110vh;
    }
    h1 {
      position: absolute;
      left: 3rem;
      bottom: 6vw;
      font-size: 3.5vw;
      width: 60vw;
    }
  }
}

.section-4 {
  width: 100vw;
  .slide-box {
    display: flex;
    height: 100vh;
    .slide-box-1 {
      display: flex;
      .title-text {
        padding: 3vw;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-right: 1px solid white;
        background-color: #444;
        cursor: pointer;
        h1 {
          writing-mode: vertical-rl;
          font-size: 2vw;
        }
      }
      .img {
        position: relative;
        margin-left: 9rem;

        img {
          width: 25vw;
        }
        .main-text {
          padding: 10px 20px;
          h1 {
            font-size: 5.5vw;
          }
          p {
            padding-top: 3vw;
            font-size: 2vw;
          }
        }
      }
    }
    .slide-box-2 {
      z-index: 1;
      display: flex;
      position: absolute;
      left: 8.1vw;
      height: 100vh;
      background-color: #1b1b1b;
      .title-text {
        padding: 3vw;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-right: 1px solid white;
        background-color: #444;
        cursor: pointer;
        h1 {
          writing-mode: vertical-rl;
          font-size: 2vw;
        }
      }
      .img {
        margin-left: 9rem;
        img {
          width: 25vw;
        }
        .main-text {
          padding: 10px 20px;
          h1 {
            font-size: 5.5vw;
          }
          p {
            padding-top: 3vw;
            font-size: 2vw;
          }
        }
      }
    }
    .slide-box-3 {
      z-index: 2;
      display: flex;
      position: absolute;
      left: 16.2vw;
      height: 100vh;
      background-color: #1b1b1b;
      .title-text {
        padding: 3vw;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-right: 1px solid white;
        background-color: #444;
        cursor: pointer;
        h1 {
          writing-mode: vertical-rl;
          font-size: 2vw;
        }
      }
      .img {
        margin-left: 9rem;
        img {
          width: 25vw;
        }
        .main-text {
          padding: 10px 20px;
          h1 {
            font-size: 5.5vw;
          }
          p {
            padding-top: 3vw;
            font-size: 2vw;
          }
        }
      }
    }
    .slide-box-4 {
      z-index: 3;
      display: flex;
      position: absolute;
      left: 24.269vw;
      height: 100vh;
      background-color: #1b1b1b;
      .title-text {
        padding: 3vw;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-right: 1px solid white;
        background-color: #444;
        cursor: pointer;
        h1 {
          writing-mode: vertical-rl;
          font-size: 2vw;
        }
      }
      .img {
        margin-left: 9rem;
        img {
          width: 25vw;
        }
        .main-text {
          padding: 10px 20px;
          h1 {
            font-size: 5.5vw;
          }
          p {
            padding-top: 3vw;
            font-size: 2vw;
          }
        }
      }
    }
  }
}
